
/***** toast variable environnement & toast container *****/

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #006b96;
  --toastify-color-success: teal;
  --toastify-color-warning: #f10f0f;
  --toastify-color-error: #742f37; /* wine color */
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  
  --toastify-toast-width: 260px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  
  /* Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  
  /* Used when no type is provided
     toast("**hello**")
     */
     --toastify-color-progress-light: linear-gradient(to right,
     #4cd964,
     #5ac8fa,
      #007aff,
      #34aadc,
      #5856d6,
      #ff2d55);
      /* Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

.Toastify__toast-container {
  font-size: 18px;
  width: 260px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/***** import font *****/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700&display=swap');
/***** global *****/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo Chettan 2', cursive;

}


a{
  text-decoration: none;
  color: black;
}

/***** pagination *****/

.previousBttn,
.nextBttn {
  font-weight: bolder;
}
  
.paginationBttns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 20px 0 50px 0;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border: 1px solid teal;
  border-radius: 5px;
  color: white;
  background-color: teal;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.paginationBttns a:hover {
  color: teal;
  background-color: white;
}

.paginationActive a {
  color: teal;
  background-color: white;
}

/*********************/
.password-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#eye{
  color: teal;
}

