<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
    
    </style>

  </head>
  <body>
      <h1>Merci pour votre inscription</h1>
    <div>
        Cliquez sur le liens ci-dessous pour valider votre inscription, vous serez automatiquement redirigez vers le site
    </div>  
      <a href={{text}}>lien pour validez votre compte</a>
  </body>
</html>